.ChatContent-container{
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    display: grid;
    grid-template-rows: 1fr auto;
}

.bottom-chat-input{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-Container{
    background-color: var(--color-bg3);
    width: 50%;
    border: solid;
    border-width: 1px;
    border-color: var(--color-darkgray);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
    padding: 0.8rem 1rem;
    margin-bottom: 1.5rem;
    justify-items: center;
    align-items: flex-end;
    box-shadow: 0rem 0rem 0.4rem rgba(0, 0, 0, 0.25);
}
.input-Container textarea{
    align-self: center;
    font-family: "Noto Sans Thai","Noto Sans Thai Looped", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
    width: 100%;
    background:none;
    resize: none;
    border: none;
    padding: 0 0;
    overflow: scroll;
    outline: none;
    font-size: 1rem;
}

textarea::-webkit-scrollbar {
    display: none;
}

#faPaperPlane{
    color: var(--color-darkgray);
}