.title-background{
    position: absolute;
    top: 0;
    z-index: -3;
    opacity: 10%;
    height: 100%;
    transform: translateX(-540px);
}
.Title-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../public/icons/dots_scaling_background.png");
    opacity: 5%;
    background-size: cover;
    background-position: center;
    filter: blur(0px);
    z-index: -4;
}

.Title-container {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 50% 50%;
    gap: 1rem;
}

.Title-text{
    width: 100%;
    align-self:flex-end;
}
.Title-text div h1 {
    overflow: hidden;
    white-space: nowrap;
    /* border-right: .1em solid rgb(255, 255, 255); */
    color: var(--color-purple);
    font-size: 7rem;
    margin: 0 0;
    margin-left: 10rem;
    letter-spacing: .1em;
    animation:
        typing 2s steps(40, end),
        blink-caret 1.5s step-end, 
        growUP 1.5s  ;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes blink-caret {
    from, to { border-right: .1em solid rgb(255, 255, 255);border-color: transparent }
    20% { border-color: rgb(255, 255, 255); }
    40% { border-color: rgb(255, 255, 255); }
    60% { border-color: rgb(255, 255, 255); }
    80% { border-color: rgb(255, 255, 255); }
}

.Title-text div {
    width: fit-content;
}


.Title-text p {
    color: var(--color-text);
    font-size: 2rem;
    margin: 0 0;
    margin-left: 11rem;
    /* transform: translateX(20px); */
    animation:
        growUP 1.5s ;
}

.formStartButton{
    width: 100%;
    text-align: right;
}

.StartButton {
    font-family: "Noto Sans Thai","Noto Sans Thai Looped", sans-serif, Inter, system-ui, Avenir, Helvetica, Arial;
    background-color: var(--color-orange);
    font-size: 1.8rem;
    padding: 0rem 4rem;
    padding-top: 0.3rem;
    outline: none;
    border: none;
    border-radius: 30px;
    margin-right: 12rem;
    margin-top: 7rem;
    transition: .2s;
    box-shadow: 0 0rem 0.6rem rgba(255, 255, 255, 0.564);
}
@keyframes flow {
    0% { background-color: #9758EA; scale: 1.05;}
    25% { background-color: #b461e8; scale: 1.08;}
    50% { background-color: #9758EA; scale: 1.05;}
    75% { background-color: #b461e8; scale: 1.08;}
    100% { background-color: #9758EA; scale: 1.05;}
}

.StartButton:hover{
    scale: 1.05;
    background-color: var(--color-purple);
    transition: .2s;
    animation: flow 4s infinite;
}

@media screen and (max-width: 600px) {
    .Title-text{
        align-self: center;
        justify-self: center;
        text-align: center;
    }
    .Title-text div{
        width: 100%;
    }
    .Title-text div h1{
        margin-left: 0;
        font-size: 5rem;
    }
    .Title-text p{
        margin-left: 0;
        font-size: 1rem;
    }
    .formStartButton{
        align-self: center;
        text-align: center;
    }
    .StartButton {
        font-size: 1.6rem;
        padding: 0.3rem 3.5rem;
        border-radius: 30px;
        margin-right: 0rem;
        margin-top: 0rem;
    }
}