.Namechat-container{
    position: relative;
    background-color: rgb(26, 26, 26);
    width: 100%;
    height: 100%;
    box-shadow: 0rem 0rem 0.7rem rgba(255, 255, 255, 0.0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}
h2{
    margin: 0 0;
}
.mobile-container{
    display: none;
}
.Namechat-container p {
    padding-left: 2rem;
    font-size: 1.4rem;
    width: 100%;
    white-space: nowrap;
}

.Namechat-right-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
}

.userProfile {
    width:min-content;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
    gap: 4px;
    transition: .2s;
    border: solid;
    border-color: var(--color-bg2);
    border-width: 1px;
    background-color: var(--color-bg);
}
.userProfile:hover{
    background-color: var(--color-bg3);
    transition: .2s;
    scale: 1.03;
}
.userProfile p{
    padding: 0 0;
    margin: 0 0;
    font-size: 1.2rem;
    font-weight: 700;
    height: fit-content;
    text-wrap: nowrap;
    width: min-content;
}
.img-profile {
    width: 100%;
    height: 4vh;
}
.img-profile img {
    border-radius: 50%;
    /* width: 50%; */
    height: 100%;
}

.popUp-User{
    position:absolute;
    z-index: 5;
    background-color: var(--color-bg);
    padding: 1rem 1rem;
    border: solid;
    border-radius: 10px;
    border-color: var(--color-darkgray);
    border-width: 2px;
    top: 60px;
    right: 10px;
    box-shadow: 0rem 0rem 0.6rem rgba(3, 3, 3, 0.5);
}

@media screen and (max-width: 600px) {
    .Namechat-container p {
        display: none;
    }
    .Namechat-container{
        display: grid;
        grid-template-columns: auto 1fr;
    }
    .userProfile p {
        display: block;
    }
    .userProfile {
        width:max-content;
    }
    .mobile-container{
        display: flex;
        gap: 5px;
        padding-left: 1rem;
    }
    .mobile-container button {
        background-color: var(--color-bg2);
        padding: 0.2rem 0.7rem;
    }
}
@media screen and (max-width: 900px) {
    .Namechat-container p {
        padding-left: 1rem;
        font-size: 1rem;
    }
    .Namechat-container{
        grid-template-columns: auto 1fr;
    }
}